{{year}}
{{university}}
<h1>Greenwich Việt Nam</h1>
<h2>So 2 Pham Van Bach - Cau Giay - Ha Noi</h2>
<p>Paragraph</p>
<center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zoEtcR5EW08?si=BcclFC1kyMvfHk1L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</center>
<ul>
    <li>
        <a href="/hanoi">Ha Noi campus</a>
    </li>
    <li>
        <a href="/hochiminh">Ho Chi Minh campus</a>
    </li>
    <li>
        <a href="/cantho">Can Tho campus</a>
    </li>
    <li>
        <a href="/danang">Da Nang campus</a>
    </li>
</ul>